%USERPROFILE%\SendTo
%USERPROFILE%\Desktop
%USERPROFILE%\My Documents
%USERPROFILE%\Application Data\Mozilla
%USERPROFILE%\デスクトップ
%USERPROFILE%\スタート メニュー\プログラム\スタートアップ
%USERPROFILE%\Local Settings\Application Data\Google\Chrome\User Data
%USERPROFILE%\AppData\Roaming\Mozilla
%USERPROFILE%\AppData\Local\Google\Chrome\User Data
%USERPROFILE%\Music\iTunes
